.container{
    width: fit-content;
}

.input {
    display: flex;
    align-items: center;
    width: fit-content;
    background-color: #F3F6FB !important;
    height: 2rem;
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 5px;
    margin-top: 3px;
    font-size: medium;
}

.input::placeholder{
    font-size: large;
}

label{
    margin-left: .2rem;
    font-size: large;
    font-family: "Rubrik";
}

input {
    height: 100%;
    border: none;
    font-size: large;
    text-indent: .3rem;
    background: #F3F6FB !important;
    outline: none;
}

.input > div{
    margin-top: 6px;
}

.input:focus,
.input:active,
.input:hover {
    border: 2px solid #000;
    transition-duration: .3s;

}